<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <p>Welcome to Maggie's Game of {{title}}</p>
		<br>
		<a href="/game/{{id}}/{{next[1]}}">{{next[1]}}</a>
		<br>
        <a href="/game/{{id}}/{{next[0]}}">{{next[0]}}</a>
        <br>
        <a href="/game/{{id}}/{{next[1]}}">{{next[1]}}</a>
        <br>
        <a href="/game/{{id}}/{{next[2]}}">{{next[2]}}</a>
        <br>
        <a href="/game/{{id}}/{{next[3]}}">{{next[3]}}</a>
        <br>
		<a href="/game/{{id}}/{{next[4]}}">{{next[4]}}</a>
        <br>
		<a href="/game/{{id}}/{{next[5]}}">{{next[5]}}</a>
		<br>
        <a href="/game">go back to game page</a>
        <br>
		<a href="https://repl.it/JvOG/latest";color="red">Visit the python vision.</a>
		<br>
        <a href="/">Main Page</a>
    </body>
</html>