<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Maggie and Mathematics</title>
    </head>
    <body>
        Maggie is currently graduating from <a href="http://www.ucl.ac.uk/">UCL</a> with Msci Mathematics with Economics.
        <br>
        Please find the <a href="C:\Users\lenovo\Desktop\hello-world\PDF\Y4Pjt.pdf">Project Report</a> and the <a href="C:\Users\lenovo\Desktop\hello-world\PDF\Y4Pjt_Slides.pdf">Presentation</a> of her final year project about <i>Counting Independent sets in Graphs</i>.
        <br>
        Maggie is (likely) an incoming PhD student to <a href="http://www.lse.ac.uk/">LSE</a>.
        <br>
        <a href="/">Main Page</a>
    </body>
</html>
