<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Maggie and Mathematics</title>
    </head>
    <body>
        Maggie is currently graduating from UCL with Msci Mathematics with Economics.
        <br>
        Please find the <a href="C:\Users\lenovo\Desktop\hello-world\PDF\Y4Pjt.pdf">Project Report</a> and the <a href="C:\Users\lenovo\Desktop\hello-world\PDF\Y4Pjt_Slides.pdf">Presentation</a> of her final year project about <i>Counting Independent sets in Graphs<i>.
        <br>
        <embed src="PDF\Y4Pjt.pdf" width="800px" height="2100px" />
        <br>
        <a href="/">Main Page</a>
    </body>
</html>
